
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="div_remplace">
    <h1 class="txt-center">Formulario de Registro</h1>

    <div class="d-flex">

        <div class="register_img">
            <img src="~/Assets/images/form_register.svg" />
        </div>

        <form class="form_register" method="post">
            <div>
                <label class="label">Primer Nombre</label>
                <input class="input" type="text" name="first_name" placeholder="Ingrese su Nombre" />
            </div>
            <div>
                <label class="label">Segundo Nombre</label>
                <input class="input" type="text" name="second_name" placeholder="Ingrese su Nombre" />
            </div>
            <div>

                <label class="label">Apellido Paterno</label>
                <input class="input" type="text" name="father_lastname" />
            </div>
            <div>
                <label class="label">Apellido Materno</label>
                <input class="input" type="text" name="mother_lastname" />
            </div>
            <div>
                <label class="label">Password</label>
                <input class="input" type="password" name="pass" />
            </div>
            <div>
                <label class="label">usuario</label>
                <input class="input" type="text" name="user" />
            </div>
            <div>
                <label class="label">Correo</label>
                <input class="input" type="email" name="email" />
            </div>
            <!--
        <div>

                <label class="label">Fecha Nacimiento</label>
                <input class="input" type="text" name=""/>
        </div>
        <div>
                <label class="label">Nombre Usuario</label>
                <input class="input" type="text" />
        </div>

        <div>
                <label class="label">Region</label>
                <input class="input" type="text" />
        </div>
        <div>
                <label class="label">Provincia</label>
                <input class="input" type="text" />
        </div>
        <div>
                <label class="label">Comuna</label>
                <input class="input" type="text" />
        </div>
        <div>
                <label class="label">Direccion</label>
                <input class="input" type="text" />
        </div>

        <div>

                <label class="label">Contraseña</label>
                <input class="input" type="text" />

        </div>

        <div>
                <label class="label">Repetir Contraseña</label>
                <input class="input" type="text" />
        </div>

    -->
            <div class="d-flex">
                <input class="btn_submit" type="submit" value="Ingresar" />
            </div>
        </form>
    </div>

</div>