
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_layout.cshtml";

    List<RegionModel> ListRegion = ViewBag.RegionList;


    List<SelectListItem> itemsRegion = new List<SelectListItem>();
    itemsRegion.Add(new SelectListItem() { Text = "Seleccione Región", Value = "NONE" });
    foreach (var region in ListRegion)
    {
        itemsRegion.Add(new SelectListItem() { Text = region.Nombre_region, Value = region.Id_region.ToString() });
    }

}


<div class="w-100 height">
    <h1 class="txt-center">Formulario de Registro</h1>

    <div class="d-flex">

        <form class="form" method="post">
            <div class="d-flex">
                <label class="f-label">Primer Nombre</label>
                <input class="f-input" type="text" name="first_name" placeholder="Ingrese su primer Nombre" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Segundo Nombre</label>
                <input class="f-input" type="text" name="second_name" placeholder="Ingrese su segundo Nombre" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Apellido Paterno</label>
                <input class="f-input" type="text" name="father_lastname" placeholder="Ingrese su Apellido Paterno" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Apellido Materno</label>
                <input class="f-input" type="text" name="mother_lastname" placeholder="Ingrese su Apellido Materno" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Sexo</label>
                <div class="f-radio">
                    <input type="radio" name="sexo" value="0" />
                    <label class="f-label">Femenino</label>
                    <input type="radio" name="sexo" value="1" />
                    <label class="f-label">Masculino</label>
                </div>
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Password</label>
                <input class="f-input" type="password" name="pass" autocomplete="on" placeholder="Ingrese una Contraseña" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Nombre Usuario</label>
                <input class="f-input" type="text" name="user" placeholder="Ingrese un nombre de usuario" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Correo</label>
                <input class="f-input" type="email" name="email" placeholder="Ingrese su correo" />
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Fecha de Nacimiento</label>
                <input class="f-input" type="date" name="datebirth" placeholder="Ingrese su fecha de nacimiento" />
            </div>
            <br />


            <div class="d-flex">
                <label class="f-label">Región</label>
                @Html.DropDownList("RegionSelect", itemsRegion, new { @class = "f-input", id = "RegionSelect" })
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Provincia</label>
                <select class="optionProvincia f-input" id="optionProvincia"></select>
            </div>
            <br />
            <div class="d-flex">
                <label class="f-label">Comuna</label>
                <select class="optionComuna f-input" name="comuna"></select>
            </div>

            <br />
            <div class="d-flex">
                <label class="f-label">Direccion</label>
                <input class="f-input" type="text" name="direccion" placeholder="Ingrese su dirección" />
            </div>

            <div class="d-flex">
                <input class="btn_new mg-top-30" type="submit" value="Ingresar" />
            </div>
        </form>
    </div>

</div>