@{
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
}


@foreach (var item in ListCategory)
{
<li>

    @Html.ActionLink(@item.Category, "ProductsByCategory", new {  id = item.Id_category}  )
</li>
}




