@{
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
}


    @foreach (var item in ListCategory)
    {
        <li>

            @Html.ActionLink(@item.Category, "ProductsByCategory", "Product", new { id = item.Id_category, pag = 1 }, null)
        </li>
    }





