
@{
    ViewBag.Title = "Productos Destacados";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div>
    <h1 class="">Registro de Categoria</h1>

    <form method="post">

        <br />
        <div>
            <label>Nombre de la categoria</label>
            <input type="text" name="category" />
        </div>
        <br />
        <div>
            <input type="submit" value="registrar categoria" />
        </div>

    </form>

</div>

