
@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
 
}

<div class="w-100 height">
    <h1 class="txt-center">Agregar Talla</h1>

    <form class="form" method="post">
        <div class="d-flex">
            <label class="f-label">Producto</label>
            <input class="f-input" type="text" name="category"  value="" />
        </div>
        <div class="d-flex">
            <label class="f-label">Nombre Producto</label>
            <input class="f-input" type="text" name="category"  value="" />
        </div>

        <div class="d-flex">
            <label class="f-label">Tipo de Talla</label>
            <select class="f-input">
                <option>seleccione...</option>
                <option>tipo talla 1</option>
                <option>tipo talla 2</option>
            </select>
        </div>
        <div class="d-flex">
            <label class="f-label">Talla</label>
        </div>
        <div class="f-label">
            <div>
                <input type="checkbox" value="S" />
                <label> S</label>
            </div>
            <br />
            <div>
                <input type="checkbox" value="L" />
                <label> L</label>
            </div>
            <input type="checkbox" value="M" />
            <label> M</label>
            <div>
                <input type="checkbox" value="xxl" />
                <label> XL</label>
            </div>
            <div>
                <input type="checkbox" value="xxl" />
                <label> XXL</label>
            </div>
        </div>

                <div class="d-flex">
                    <label class="f-label">Stock</label>
                    <input class="f-input" type="number" name="category" />
                </div>
                <div>
                    <input class="btn_new mg-top-30" type="submit" value="Agregar Talla Producto" />
                </div>
                <div>
                    <button>Cancelar</button>
                </div>

</form>

</div>