
@{
    ViewBag.Title = "Productos Destacados";
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
        Layout = "~/Views/Shared/_layout.cshtml";
}

<main>
    <h1 class="txt-center">Venta de producto</h1>

    <div class="products">
        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>


        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>

        <div class="product">
            <div class="pdto_img">
                <img src="~/Assets/images/zapatilla.jpg" />
            </div>

            <h2 class="txt-center">Nombre Producto</h2>
            <p class="txt-center">$ 5.000</p>
            <div class="d-flex">
                <button class="buy">comprar</button>
            </div>
        </div>




    </div>
</main>

