
@{
    @model List<ProductModel>
    ViewBag.Title = "Productos Destacados";
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<main class="w-100 height">
    <h1 class="txt-center oferta">NUESTRAS OFERTAS</h1>

    <div class="products">

        @foreach (var pdto in Model)
        {
            <div class="product">
                <a href="@Url.Action("Product","Product", new { id = pdto.Id_product })">
                    <div class="pdto_img">
                        <img src="~/Assets/uploads/@pdto.Imagen.ToString()" />
                    </div>

                    <h2 class="txt-center mg-1px">@pdto.Name_product</h2>
                    <p class="txt-center mg-1px">$ @pdto.Price.ToString("D0")</p>
                </a>
                <div class="d-flex">
                    @Html.ActionLink("Añadir al Carro", "AddShoppingCart", "ShoppingCart", new { id = pdto.Id_product }, new { @class = "btn_new mg-top-3-auto-15-bottom" })
                </div>
            </div>
        }
     
    </div>
    <div class="indicator_page">
        <a href="#"><<</a> <a href="#"><</a> <a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">></a><a href="#">>></a>
    </div>

</main>

