body {
    margin: 0px;
    padding: 0px;
}
/**comunes***/
.d-flex {
    display: flex;
}

.mg-10 {
margin-left:10%;
}
.w-100 {
    width: 100%;
}

.mg-top-30{
    margin-top:30px;
}

.height {
    /***100% pantalla - Heder 88  - footer 36px  - border 1px en top y bot ****/
    height: calc(100vh - 88px - 36px - 2px);
}

img {
    width: 100%;
}

.txt-center {
    text-align:center;
}

li {
    list-style:none;
}

a{
    text-decoration:none;
}

/***Header***/
.div_header {
    justify-content:space-between;
}

.logo {
    width: 100px;
}
    .logo img {
        margin:8px;
        width: 100%;
    }

.name-store {
    margin-left:15px;
    font-size:0.9rem;
    text-transform:uppercase;   
}

.option_menu{
    padding:25px;
    margin:0;
}
.option_menu li {
    display:flex;
    width:110px;
    padding:5px;
    background:rgba(28,117,191,1);
    margin:3px;
    border-radius:20px;
    cursor: pointer;
    
}

.option_menu a{
    width:100%;
    color:white;
    text-align:center;
    font-size:1.2rem;
}

    .option_menu li:hover {
        background: rgba(28,117,191,0.6);
    }

hr {
    margin: 0px;
    padding: 0px;
}

/***Botones****/
.btn_new {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

/***Formulario 1***/
.label {
width:100%;
text-align:center;
}

.input {
    width: 80%;
    margin: 0 auto;
}
.btn_submit {
    width:50%;
    margin: 0 auto;
}

.form_register {
width:70%;
}

/***Formulario 2***/

.form {
    margin: 20px auto;
    width:80%;
}

.f-label {
    width: 35%;
}

.f-input {
    width: 65%;
}
/***Main***/
aside {
    width: 25%;
    border: 1px black solid;
}

main, .div_remplace {
    width: 85%;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px black solid;
    width: 350px;
    margin: 20px;
}


/***GetProduct****/
.getProduct {
    border: 2px black solid;
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.getProduct_container {
    width: 20%;
    border: 2px black solid;
}
.getProduct_container_info {
    width:50%;
    margin: 0 auto;
}

.pdto_img {
    width: 300px;
    margin: 0 auto;
}

            .buy {
                width: 30%;
                margin: 0 auto;
            }


/***Registro****/

/***Table***/
.tab {
    margin: 30px auto;
    width: 80%;
    border: 1px blue solid;
    padding: 0;
    border-collapse: collapse;
}
    .tab thead {
        margin: 0 auto;
        padding: 0;
        background-color: blue;
        color : white;

    }
    .tab tr td, .tab tr th {
        border: 1px blue solid;
    }
    
    .register_img {
        width: 30%;
    }
/***Footer***/
footer {
    background: rgba(66,65,67,1);
}

    footer p {
    color: white;
    text-align: center;
    margin:0;
    }