body {
    margin: 0px;
    padding: 0px;
}
/**comunes***/
.d-flex {
    display: flex;
}

img {
width: 100%;
}

.txt-center {
    text-align:center;
}

li {
    list-style:none;
}

a{
    text-decoration:none;
}


/***Header***/
.div_header {
    justify-content:space-between;
}

.logo {
    width: 100px;
}
    .logo img {
        margin:8px;
        width: 100%;
    }

.name-store {
    margin-left:15px;
    font-size:0.9rem;
    text-transform:uppercase;   
}

.option_menu{
    padding:25px;
    margin:0;
}
.option_menu li {
    display:flex;
    width:110px;
    padding:5px;
    background:rgba(28,117,191,1);
    margin:3px;
    border-radius:20px;
    cursor: pointer;
    
}

.option_menu a{
    width:100%;
    color:white;
    text-align:center;
    font-size:1.2rem;
}

    .option_menu li:hover {
        background: rgba(28,117,191,0.6);
    }

hr {
    margin: 0px;
    padding: 0px;
}

/***Formulario***/
.label {
width:100%;
text-align:center;
}

.input {
    width: 80%;
    margin: 0 auto;
}
.btn_submit {
    width:50%;
    margin: 0 auto;
}

.form_register {
width:70%;
}
/***Main***/
aside {
    width: 25%;
    border: 1px black solid;
}

main, .div_remplace {
    width: 85%;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px black solid;
    width: 350px;
    margin: 20px;
}

    .pdto_img {
        width: 300px;
        margin: 0 auto;
    }

            .buy {
                width: 30%;
                margin: 0 auto;
            }


/***Registro****/

.register_img {
width: 30%;
}
/***Footer***/
footer {
    background: rgba(66,65,67,1);
}

    footer p {
    color: white;
    text-align: center;
    margin:0;
    }