
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="w-100 height">
    <h1 class="txt-center">Mi pedido</h1>
    <p>---------------------</p>
    <p>Detalles del pedido</p>
    <p>---------------------</p>
    <p>Detalles del Cliente</p>


    <h2 class="txt-center">Ingrese los datos de Envío antes de pagar</h2>

    <div class="d-flex">
        <form class="form">
            <div class="d-flex">
                <label class="f-label">Región</label>
                <input class="f-input" type="text" />
            </div>
            <div class="d-flex">
                <label class="f-label">Provincia</label>
                <input class="f-input" type="text" />
            </div>
            <div class="d-flex">
                <label class="f-label">Comuna</label>
                <input class="f-input" type="text" />
            </div>
            <div class="d-flex">
                <label class="f-label">Dirección</label>
                <input class="f-input" type="text" />
            </div>

            <div class="d-flex">
                <label class="f-label">Seleccione Medio de pago</label>
                <input type="radio" value="1" name="type_tc" />
                <label for="">Tarjeta debito</label>
                <br>
                <input type="radio" value="1" name="type_tc"/>
                <label for="">Tarjeta credito</label>
                <br>
            </div>

        </form>
    </div>



    <div class="d-flex dflex-s-around ">
        <a href=@Url.Action("Orders","ShoppingCart")>Pagar</a>
        <br />
        <button>Cancelar</button>
    </div>
</div>

