
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="w-100 height">
    <h1 class="txt-center">Mi pedido</h1>
    <p>Detalles del pedido</p>

    <div class="d-flex dflex-s-around ">
        <a href=@Url.Action("Orders","ShoppingCart")>Pagar</a>
    </div>
</div>

